<h1>Find your Halal Restaurant</h1>



<div class="container">
  <div class="row">
    <div class="col-xs-4">
    <p> WTF </p>
    </div>
    <div class="col-xs-4">
    <p> WTF </p>
    </div>

    <div class="col-xs-4">

    </div>

  </div>
</div>
