<div id="header" class="text-center">

    <h1><strong>Find your Halal Restaurant </strong></h1>


     <%= form_tag(restaurants_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-append">
        <%= text_field_tag :address, params[:address], class: "form-control", placeholder: "Entrer votre ville" %>
        <button class="btn btn-warning" type="submit">Rechercher</button>
        </div>
        <% end %>






       <!--  <form class="form-inline">
          <div class="form-group">
            <label for="search_homepage"><i class="fa fa-map-marker" style= "font-size: 28px"></i></label>
            <input type="text" class="form-control" id="search_homepage" placeholder="Entrer votre ville...">
          </div>
          <button type="submit" class="btn btn-warning">Rechercher</button>
        </form> -->
</div>

