<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7">

      <h1><%= @restaurant.name %></h1>

      <% @restaurant.restaurant_pictures.each do |restaurant_picture| %>

        <% if restaurant_picture.nil? %>

        <p> pas de photo de dispo bitch </p>

      <% else %>
      <%= image_tag restaurant_picture.picture(:medium) %>

      <% end %>

      <% end %>
    </div>
  </div>
</div>


<p><%= @restaurant.description %></p>