<% if user_signed_in? %>
  Hello <%= current_user.email %>!
  <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
<% else %>
  <ul class="list-inline">
    <li><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-link";%></li>
    <li><%= link_to 'Sign in', new_user_session_path, class: "btn btn-link"; %></li>
  </ul>
<% end %>